extends layout/main.pug
include mixins/alert.pug
include mixins/blacklist-table.pug

block css
  link(href='dist/css/styles.min.css', rel='stylesheet')

block content
    main.container
      section.jumbotron
        h1.display-4 Status da aplicação

        hr

        ul
          li <strong>Uptime:</strong> #{uptime}
          li <strong>Uso aproximado de memória:</strong>
            ul
              li <strong>Total:</strong> #{memoryUsed.total}
              li <strong>Usada:</strong> #{memoryUsed.used}
          li <strong>Quantidade de consultas no DB:</strong> #{queriesExecuted}
          li <strong>Quantidade de cpf na Blacklist:</strong> #{cpfOnBlacklist}

block js
  script(src='dist/js/scripts.min.js', type='text/javascript')
