extends layout/main.pug
include mixins/alert.pug
include mixins/blacklist-table.pug

block css
  link(href='dist/css/styles.min.css', rel='stylesheet')

block content
    main.container
      section.jumbotron
        h1.display-4 Status da aplicação

        hr

        ul
          li Uptime: #{uptime}
          li Uso aproximado de memória:
            ul
              li Total: #{memoryUsed.total}
              li Usada: #{memoryUsed.used}
          li Quantidade de consultas no DB: #{queriesExecuted}
          li Quantidade de cpf na Blacklist: #{cpfOnBlacklist}

block js
  script(src='dist/js/scripts.min.js', type='text/javascript')
